<%= form_tag root_path, remote: true do %>
  <div>
    <%= hidden_field_tag :u, @user %>
    <span id="prompt"><%= Rails.application.secrets.prompt %></span>
    <%= text_field_tag :command, nil, autocomplete: "off" %>
  </div>
<% end %>
